<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @discount.value %>
</p>

<p>
  <strong>Since when:</strong>
  <%= @discount.since_when %>
</p>

<p>
  <strong>Until when:</strong>
  <%= @discount.until_when %>
</p>

<p>
  <strong>Product:</strong>
  <%= @discount.product_id %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
