<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Product category:</strong>
  <%= @product.product_category_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description_id %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
<%= link_to 'Add Discount', new_admin_discount_path(product_id: @product.id) %>
