<nav class="navbar navbar-default">
  <div class="container">
    <% if @admin %>
      <div class="navbar-header">
        <%= link_to 'Online Shop', root_path, class: 'navbar-brand' %>
      </div>
    <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Admin', admin_path if can? :manage, :admin %>
        </li>
        <li>
            <%= link_to 'My Account', customer_path(current_user) if current_user.present? %>
        </li>
        <li>
          <% if signed_in? %>
            <%= link_to 'Logout', session_path(current_user), method: :delete  %>
          <% else %>
            <%= link_to 'Login', new_session_path %>
          <% end %>
        </li>
      </ul>
  </div>
</nav>