<!DOCTYPE html>
<html>
<head>
  <title>Online Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>

<div class='container' id='shopContainer'>
  <div class='row'>
    <div class='col-md-12'>
      <div id='leftNavigation'>
        <p>Main Categories</p>
        <% MainCategory.all.each do |x| %>
          <span><%= x.name %></span><br/>
        <% end %>
        <% if signed_in? %>
          <hr/>
          <div id='cartNav'>
            <%= render 'common/cart' %>
          </div>
        <% end %>
      </div>
      <div id='rightContent'>
        <%= render 'layouts/flash_message' %>
        <%= yield %>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>

</body>
</html>
